@model TranVanCuong.SachOnline.Models.SACH

@{
    ViewBag.Title = "Xóa sách";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2 class="page-header text-danger">
    <span class="glyphicon glyphicon-trash"></span>
    XÓA SÁCH
</h2>

<div class="alert alert-danger">
    <strong>
        Bạn có chắc chắn muốn xóa quyển sách này không?
    </strong>
</div>

<div class="row">

    <div class="col-md-4 text-center">

        <img src="@Url.Content("~/Images/" + Model.AnhBia)"
             class="img-thumbnail"
             style="max-width:280px;" />

    </div>

    <div class="col-md-8">

        <table class="table table-bordered table-hover">

            <tr>
                <th width="180">Mã sách</th>
                <td>@Model.MaSach</td>
            </tr>

            <tr>
                <th>Tên sách</th>
                <td>@Model.TenSach</td>
            </tr>

            <tr>
                <th>Giá bán</th>
                <td>
                    @String.Format("{0:0,0} VNĐ", Model.GiaBan)
                </td>
            </tr>

            <tr>
                <th>Số lượng bán</th>
                <td>@Model.SoLuongBan</td>
            </tr>

            <tr>
                <th>Ngày cập nhật</th>
                <td>
                    @(Model.NgayCapNhat.HasValue
                        ? Model.NgayCapNhat.Value.ToString("dd/MM/yyyy")
                        : "")
                </td>
            </tr>

            <tr>
                <th>Chủ đề</th>
                <td>@Model.CHUDE.TenChuDe</td>
            </tr>

            <tr>
                <th>Nhà xuất bản</th>
                <td>@Model.NHAXUATBAN.TenNXB</td>
            </tr>

            <tr>
                <th>Mô tả</th>
                <td style="white-space:pre-line">
                    @Model.MoTa
                </td>
            </tr>

        </table>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            @Html.HiddenFor(model => model.MaSach)

            <button type="submit"
                    class="btn btn-danger">

                <span class="glyphicon glyphicon-trash"></span>

                Xóa sách

            </button>

            <a href="@Url.Action("Index")"
               class="btn btn-default">

                Quay lại

            </a>

        }

    </div>

</div>