@model List<TranVanCuong.SachOnline.Models.GioHang>
@using TranVanCuong.SachOnline.Models

@{
    ViewBag.Title = "Đơn đặt hàng";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h2 style="text-align:center;">THÔNG TIN ĐƠN HÀNG</h2>

<table class="table table-bordered">
    <tr style="text-align:center; font-weight:bold;">
        <td>Mã sách</td>
        <td>Tên sách</td>
        <td>Ảnh bìa</td>
        <td>Số lượng</td>
        <td>Đơn giá</td>
        <td>Thành tiền</td>
    </tr>

    @foreach (var item in Model)
    {
        <tr style="text-align:center;">
            <td>@item.iMaSach</td>
            <td>@item.sTenSach</td>
            <td>
                <img src="~/Images/@item.sAnhBia" style="width:100px;" />
            </td>
            <td>@item.iSoLuong</td>
            <td>@string.Format("{0:#,##0}", item.dDonGia) VNĐ</td>
            <td>@string.Format("{0:#,##0}", item.dThanhTien) VNĐ</td>
        </tr>
    }

    <tr>
        <td colspan="3" style="text-align:right; color:red; font-weight:bold;">
            Số lượng sách: @ViewBag.TongSoLuong
        </td>
        <td colspan="3" style="text-align:center; color:red; font-weight:bold;">
            Tổng tiền: @string.Format("{0:#,##0}", ViewBag.TongTien) VNĐ
        </td>
    </tr>

    <tr>
        <td colspan="6" style="text-align:right;">
            @Html.ActionLink("TRỞ VỀ GIỎ HÀNG", "GioHang", "GioHang")
        </td>
    </tr>
</table>

<h2 style="text-align:center;">THÔNG TIN ĐẶT HÀNG</h2>

@{
    KHACHHANG kh = (KHACHHANG)Session["TaiKhoan"];
}

<table align="center">
    @using (Html.BeginForm())
    {
        <tr style="height:40px;">
            <td>Họ tên khách hàng:</td>
            <td style="font-weight:bold;">@kh.HoTen</td>
        </tr>

        <tr style="height:40px;">
            <td>Địa chỉ:</td>
            <td style="font-weight:bold;">@kh.DiaChi</td>
        </tr>

        <tr style="height:40px;">
            <td>Điện thoại:</td>
            <td style="font-weight:bold;">@kh.DienThoai</td>
        </tr>

        <tr style="height:40px;">
            <td>Ngày đặt:</td>
            <td style="font-weight:bold;">@DateTime.Now.ToString("dd/MM/yyyy")</td>
        </tr>

        <tr style="height:40px;">
            <td>Ngày giao:</td>
            <td>
                <input type="date" name="NgayGiao" required />
            </td>
        </tr>

        <tr style="height:40px;">
            <td></td>
            <td>
                <input type="submit" value="ĐẶT HÀNG" class="btn btn-success" />
            </td>
        </tr>
    }
</table>